<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key="ConfigUrl" value="http://10.139.114.219:8001/change_desktop/DesktopConfig.xml"/><!--服务器配置文件-->
<add key="PictureUrl" value="http://10.139.114.219:8001/change_desktop/6.jpg"/><!--服务器图片-->
  <add key="ServerIP" value="10.139.114.219"/><!--检测网络通畅-->
<add key="ProgramName" value="chrome"/><!--程序名称，查找窗口句柄-->
 <!-- <add key="ProgramName" value="javaw"/>-->
<add key="ProgramPath" value="chrome.exe"/><!--打开程序名称-->
 <!-- <add key="ProgramName" value="D:\\2019-10-16日产量.jar"/>-->
<add key="ProgramConfig" value=" -kiosk  --disable-background-networking http://10.139.114.219:8001/index.aspx?machineCode=KB01"/><!--打开程序参数-->
<add key="DesktopImagepath" value="D:\\desktop.png"/><!--下载图片保存路径-->
<add key="TimerInterval" value="120000"/><!--任务间隔-->
<add key="ClearConsoleInterval" value="600000"/><!--定期清理控制台-->
<add key="CheckNetInterval" value="5000"/><!--检测网络 毫秒-->
</appSettings>
</configuration>