<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ConfigUrl" value="http://10.139.114.219:8001/change_desktop/DesktopConfig.xml"/>
    <add key="VideoLocalPath" value="G:\\优秀员工视频"/>
     <add key="VideoLocalZip" value="G:\\优秀员工视频\\优秀员工视频.zip"/>
    <add key="VideoSerZip" value="http://10.139.114.219:8001/change_desktop/优秀员工视频/优秀员工视频.zip"/>
    <add key="UnZipPath" value="G:\"/>
    <add key="GetFileUrlInterval" value="10000"/>
    <add key="CheckVideoStopInterval" value="10"/>
    <add key="FormTitle" value="重庆滚筒优秀员工视频展示"/>
    <add key="pws" value="0"/>
  </appSettings>
</configuration>